# ====================================
# Title: Week 2 - Functions
# Author: Professor Krasso
# Date: 31 May 2020
# Modified By: Karina Alvarez
# Description: Adding .editorconfir
# (global IDE configuration file)
# to web-231 GitHub repository.
# ====================================

# Editor configuration, see http://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
